[% INCLUDE "header.tt" %]
      <!-- Main hero unit for a primary marketing message or call to action -->

      <div class="hero-unit">
         
          <div id="map_div" style="width: 100%; height: 700px"></div>          
      </div>
          
      <div id="locationTable"></div>
   
      [% INCLUDE "map.tt" %]



[% INCLUDE "footer.tt" %]

