Source: libisc-bind-stats-perl
Section: perl
Priority: optional
Maintainer: mcr <mcr@>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcommon-sense-perl (>= 3.3),
 libhttp-date-perl,
 libmongodb-perl,
 libxml-sax-perl,
 libcommon-sense-perl,
 perl (>= 5.10.1)
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/ISC-BIND-Stats/

Package: libisc-bind-stats-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libcommon-sense-perl (>= 3.3),
 libhttp-date-perl,
 libmongodb-perl,
 libxml-sax-perl,
 perl (>= 5.10.1)
Description: unknown
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
