 <div class="row">
  
  <div class="span2">
  <button id="seriesOff" class="btn btn-mini"><i class="icon-minus"></i></button>
  <button id="seriesOn" class="btn btn-mini btn-primary"><i class="icon-plus icon-white"></i></button>
  </div>
  
  <div class="span4 offset2">
    <p>Total traffic at top of last hour: <strong>[% traffic_count %] qps</strong>.</p>
  </div>
  
  </div>
