
      <hr>

      <footer>
        <p>[% site_copyright %]</p>
      </footer>

    </div> 



<script type="text/javascript">
 $(document).ready(function() {
   
   // This is to enable alerts close button
   $(".alert").alert();
   
   
});
 

 
 
</script>




  </body>
</html>